
@import "reset.scss";
@import "fonts.scss";
@import "../../node_modules/swiper/swiper-bundle.min";


/*Шрифт*/
$fontFamily: "Roboto";
$fontSize: 16px;

/*Переменные*/
$minWidth: 320px; /*минимальная ширина экрана сайта*/
$maxWidth: 1920px; /* ширина всего сайта*/

/*Переменные для цвета*/
$firstColor: #FFFFFF; /* первый основной цвет шрифта*/
$secondColor: #4B4B4B; /* второй основной цвет шрифта*/
$thirdColor: #F2726F; /*третий основной цвет*/

html,
body{
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #F5F5F5;
  scrollbar-color: #f34644 $firstColor;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track{
    background-color: $firstColor;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #5D62B5;
    border-radius: 5px;
    border: 3px solid $firstColor;
    &:hover{
      background-color:#f34644;
    }
}
}


*, *::before, *::after {
  box-sizing: inherit;
}

img{
  max-width: 100%;
  height: auto;
  max-inline-size: 100%;
  max-block-size: 100%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  position: relative;
}
main{
  flex: 1 1 auto;
}
footer{
  flex: 0 0 auto;
}

body{
    color: $firstColor;
    font-family: $fontFamily;
    font-size: $fontSize;
}

.container{
  position: relative;
  max-width: 1050px; /*ширина огрничивающего контейнера 1020px + pdding слева и права по 15px с каждой стороны = 1020 + 30 = 1050*/
  margin: 0 auto; /*выравнивание контейнера по центру*/
  padding: 0 15px; 
}
/*обнуление стилей*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}


.btn{
  height: 41px;
  min-width: 211px;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; 
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.15px;
  background-color: $thirdColor;
  text-decoration: none;
  color: $firstColor;
  border: none;
  transition: all 0.5s ease;
  border-radius: 10px;
  &:hover{
    border-radius: 10px;
    padding-right: 24px;
    padding-left: 8px;
    background-color: #f34644;
  }
  &:hover::after{
    opacity: 1;
    right: 10px;
  }
  &::after{
    content: "\00BB";
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 30px;
    line-height: 40px;
    transition: 0.4s;
    }
    &:focus{
    outline: none;
    box-shadow: 0 0 0 3px #fffcfb;
  }

  &:active{
    background-color: #23be15;
    border-color: #23be15;
    color: #e4e016;
  }
 }


/************************header style start************************/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  &__inner{
    padding-top: 26px;
  }
}


.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 28px;
  &__logo {
    margin: 0 236px 0 0;
  }
}
.info {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  gap: 0 30px;
  &__time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
  }

  &__time-icon {
    align-self: start;
    }

  &__time-desc {
    font-weight: 700;
    font-size: 12px;
    line-height: 183%;
    color: $firstColor;
  }

  &__phone {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0 10px;
  }

  &__phone-icon {
    align-self: start;
  }

  &__phone-desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
    color: $firstColor;
  }
  &__phone-desc-tel {
    text-decoration: none;
    color: $firstColor;
    &:hover{
      color: #F2726F;
      text-decoration: underline;
      transition: all 0.3s ease;
      &:focus{
        outline: none;
        color: blue;
      }
    }
  }
}
.btn-header {
  margin: 0 0 0 32px;
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: $firstColor;
  border-radius: 10px;
  padding: 15px 48px 15px 40px;
}
.header_active{
  background-color: $firstColor;
}
.menu {
  &__list {
    display: flex;
    gap: 0 15px;
  }
  &__item {
    position: relative;
    margin: 0 3px;
    padding: 5px 0;
      &:hover {
        .menu__sub-list {
          transform: translate(0px, 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
        .menu__arrow {
          transform: rotate(-180deg);
        }
        .menu__arrow,
        .menu__link { 
          color: $thirdColor;
        }
       
       }
    }


  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease 0s;
  }

  &__arrow {
    transition: all 0.3s ease 0s;

  }

  &__sub-list {
    opacity: 0;
    transition: all 0.3s ease 0s;
    transform: translate(0px, 10px);
    visibility: hidden;
    border-radius: 10px;
    position: relative;
    background-color: $firstColor;
    padding: 15px;
    flex: 1 1 100%;
    width: 210px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
  }
  

  &__sub-item {
    &:nth-last-child(n+2){
      margin: 0 0 10px 0;
    }
  }

  &__sub-link {
    color: #000000;
    text-decoration: none;
    line-height: 120%;
    transition: all 0.3s ease 0s;
    &:hover{
      color: $thirdColor;
      text-decoration: underline;
    }
  }
}

.menu__close{
  display: none;
}

input {
  outline: 0;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  
}

.search{
  position: absolute;
  top: 200px;
  right: 0;
  &__form-icon{
    position: relative;
    z-index: 5;
    display: none;
  }
  &__form-item{
  position: relative;
  padding: 32px 225px;
}
  &__form-input {
  height: 40px;
  font-size: 14px;
  color: $secondColor;
  padding: 3px;
  padding-right: 60px;
  width: 0;
  position: absolute;
  top: 13px;
  right: 0;
  z-index: 3;
  transition: all .8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  cursor: pointer;
  &:hover {
    fill: $thirdColor;
  }
  &:focus {
    width: 300px;
    position: absolute;
    background-color: #c5b9b9;
    height: 40px;
    border-radius: 40px;
    padding: 7px 13px;
    z-index: 1;
    cursor: text;
    }
  }
  
&__form-btn {
  position: absolute;
  top: 18px;
  right: 22px;
  z-index: 2;
  cursor: pointer;
  transition: all .3s ease 0s;
  fill: $secondColor;
  &:hover{
    opacity: 0.5;
  }
}
}

.shop {
  position: relative;
  z-index: 2;
  &__icon {
    height: 24px;
    position: relative;
    display: block;
    transition: all 0.3s ease 0s;
    fill: $secondColor;
      &:hover{
        fill: $thirdColor;
      }
    }
    &__bye{
      position: absolute;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      background-color: $thirdColor;
      color: $firstColor;
      font-size: 10px;
    }
  }

/************************header style end************************/

/************************intro style start************************/

.intro{
  min-height: 954px;
  background: url(../img/intro-bg-img.jpg) center no-repeat;
  background-size: cover;
  padding-top: 280px;
  &__inner{
    position: relative;
    display: flex;
  }
  &__desc{
    display: block;
  }
  &__desc-title {
    max-width: 583px;
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 56px;
    line-height: 100%;
    color: $firstColor;
  }
  &__desc-btn {
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  }
  &__point{
    position: absolute;
    bottom: -595px;
    right: -134px;
    z-index: 5;
  }
}

/************************intro style end************************/

/************************we-are style start************************/
.we-are {
  min-height: 820px;
  margin-top: -75px;
  &__inner {
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5D62B5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }

  &__desc {
    padding: 100px 87px 354px;
  }

  &__desc-pre {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
  }

  &__desc-pre-pic {
    margin-right: 10px;
  }

  &__desc-pre-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #F5F5F5;
  }

  &__desc-title {
    max-width: 583px;
    margin-bottom: 36px;
    font-weight: 900;
    font-size: 36px;
    line-height: 117%;
    color: $firstColor;
  }

  &__desc-text {
    max-width: 846px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #F5F5F5;
  }


  &__img-blob {
    position: absolute;
    top: 260px;
    left: -20px;
  }

  &__img-dog{
    position: absolute;
    bottom: -120px;
    right: 100px;
    z-index: 5;
  }
  &__img-dog-pic {
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
    border-radius: 40px;
  }
}
/************************we-are style end************************/

/************************promise style start************************/
.promise {
  padding-top: 83px;
  padding-bottom: 122px;
  min-height: 312px;

  &__titles {
    max-width: 583px;
    display: flex;
    flex-direction: column;
  }

  &__titles-pre {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
  }

  &__titles-pre-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #5D62B5;
  }

  &__titles-title {
    margin-bottom: 69px;
    font-weight: 900;
    font-size: 36px;
    line-height: 117%;
    color: #000000;
  }

  &__desc {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 0 25px;
    }

  &__desc-card {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 0 23px;
  }

  &__desc-card-content{
    padding: 5px 3px 0 0;
  }

  &__desc-card-content-title {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 19px;
    line-height: 137%;
    color: $thirdColor;
  }

  &__desc-card-content-text {
    max-width: 235px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: $secondColor;
  }
}

/************************promise style end************************/

/************************dog style start************************/
.dog {
  position: relative;
  z-index: 2;
  min-height: 550px;
  background-color: #29C3BE;
  &__container{
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px; 
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 550px);
    gap: 0 72px;
  }
  &__img-one{
    display: grid;
    grid-template-columns: repeat(1, 750px);
    
  }
  &__img-blob{
    margin-top: 0px;
    margin-left: -130px;
    z-index: 1;
    grid-row: 1;
    grid-column: 1;
  }
  &__img-point{
    margin-top: 200px;
    margin-left: -65px;
    grid-column: 1;
    grid-row: 1;
    width: 300px;
  }

  &__img-dog{
    align-self: end;
    justify-self: start;
    grid-row: 1;
    grid-column: 1;
    z-index: 3;
  }
  
  &__img-two {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  &__img-line{
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    transform: translateX(-45px);
  }
  &__img-ball{
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    transform: translate(20px, -30px);
    z-index: 1;
  }
  &__img-desc{
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-column: 1;
    grid-row: 1;
    gap: 42px 0;
    justify-content: start;
    z-index: 1;
  }
  

  &__img-desc-title {
    max-width: 411px;
    font-weight: 900;
    font-size: 36px;
    line-height: 117%;
    color: $firstColor;
  }
  &__img-desc-btn{
    max-width: 211px;
  }
}
/************************dog style end************************/

/************************services style end************************/

.services {
  position: relative;
  z-index: 1;
  min-height: 988px;
  padding-top: 110px;
  padding-bottom: 114px;
  &__blob{
    position: absolute;
    top: -650px;
    right: -1060px;
    z-index: -1;
  }
  &__titles {
    max-width: 583px;
    display: flex;
    flex-direction: column;
  }

  &__titles-pre {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
  }

  &__titles-pre-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #5D62B5;
  }

  &__titles-title {
    margin-bottom: 78px;
    font-weight: 900;
    font-size: 36px;
    line-height: 117%;
    color: #000000;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 324px);
    gap: 24px 24px;
        }
  &__button{
    margin-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.service {
  &__link {
    text-decoration: none;
    &:hover{
      transition: all 0.5s ease 0s;
      transform: scale(1.05);
      filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
    }
  }

  &__card {
    background-color: $firstColor;
    border-radius: 20px;
    padding: 50px 40px 40px 50px;
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 33px 0;
    &:active{
      background:#5D62B5;
    }
  }
  &__card__active {
    background:#5D62B5;
  }

  &__card-content-title {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 19px;
    line-height: 137%;
    text-align: center;
    color: $thirdColor;
  }

  &__card-content-text {
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.15px;
    color: $secondColor;
  }
}

/************************services style end************************/
/************************form style start************************/
.form {
  position: relative;
  z-index: 2;
  min-height: 980px;
  background: url(../img/make-bg-img.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  &__inner{
    display: flex;
    justify-content: space-between;
    gap: 0 111px;
    position: relative;
  }
  &__make {
    margin: 130px 0 0 0;
    width: 585px;
    height: 640px;
    background-color: #5D62B5;
    border-radius: 40px;
    z-index: 3;
    padding: 76px 56px;
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  }
  &__make-title{
    font-weight: 900;
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    color: $firstColor;
    
  }
  &__make-body {
    display: grid;
    grid-template-columns: repeat(2, 224px);
    grid-template-rows: repeat(1, 48px 48px 180px 48px);
    gap: 22px 22px;
    margin-top: 43px;
  }

    &__area-name-input,
    &__area-email-input,
    &__area-phone-input {
      width: 100%;
      height: 100%;
      border: 2px solid $firstColor;
        border-radius: 10px;
        opacity: 0.8;
        padding: 5px 5px 5px 10px;
        background: transparent;
        color: $firstColor;
        &::-webkit-input-placeholder {
      color: $firstColor;
    }
    &:-moz-placeholder {
      color: $firstColor;
  }
  &::-moz-placeholder {
      color: $firstColor;
  }
  &:-ms-input-placeholder {
      color: $firstColor;
  }
      &:focus{
        background: $thirdColor;
        border-color: $firstColor;
      } 
  }

  &__area-select-service {
    border: 2px solid $firstColor;
    border-radius: 10px;
    opacity: 0.8;
    background: transparent;
    width: 100%;
    height: 100%;
    appearance: none;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
    outline: none;
    background:#5D62B5;
    color: $firstColor;
    &:focus{
      background: $thirdColor;
      border-color: $firstColor;
    }
  }
  

  &__area-write {
    grid-column-start: 1;
    grid-column-end: 3;
    }

  &__area-write-text {
    padding: 15px 5px 5px 15px;
    border: 2px solid $firstColor;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 6px;
    font-family: inherit;
    resize: none;
    opacity: 0.8;
    outline: none;
    color: $firstColor;
    scrollbar-color: #f34644 $firstColor;
    scrollbar-width: thin;
    &::-webkit-input-placeholder {
      color: $firstColor;
    }
    &:-moz-placeholder {
      color: $firstColor;
  }
  &::-moz-placeholder {
      color: $firstColor;
  }
  &:-ms-input-placeholder {
      color: $firstColor;
  }
      &:focus{
        background: $thirdColor;
        border-color: $firstColor;
      } 

    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-track{
      background-color: $firstColor;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #5D62B5;
      border-radius: 5px;
      border: 3px solid $firstColor;
      &:hover{
        background-color:#f34644;
      }
  }
  }

  &__area-btn {
    grid-column: 2;
  }

  &__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 46px 0;
  }

  &__counter-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: $firstColor;

  }

  &__counter-counterdown {
    font-weight: 900;
    font-size: 96px;
    line-height: 58%;
    color: $firstColor;
  }
  


  &__counter-subtitle {
    font-weight: 900;
    font-size: 19px;
    line-height: 137%;
    text-align: center;
    color: $firstColor;
    
  }

  &__point-pic {
    grid-column: 1;
    position: absolute;
    top: 220px;
    left: -200px;

  }

  &__blob-pic {
    grid-column: 1;
    z-index: 1;
    position: absolute;
    top: -10px;
    left: -190px;
  }
  
  
}




/************************form style end************************/

/************************gallery style start************************/

.gallery {
  position: relative;
  z-index: 2;
  min-height: 820px;
  margin-top: -70px;
  &__inner{
    height: 700px;
    background-color: #5D62B5;
    border-radius: 40px;
  }
  &__titles {
    display: flex;
    flex-direction: column;
    padding: 100px 87px 0;
  }

  &__titles-pre {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
  }

  &__titles-pre-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: $firstColor;
  }

  &__titles-title {
    max-width: 583px;
    font-weight: 900;
    font-size: 36px;
    line-height: 117%;
    color: $firstColor;
  }

		&__tabs {
      margin: 55px 0 0 0;
      text-align: center;
		}
		&__tabs-nav-item {
      display: inline-block;
      height: 38px;
      width: 140px;
     text-decoration: none;
      font-weight: 400;
      line-height: 150%;
      color: $firstColor;
      transition: all 0.4s ease 0s;
      cursor: pointer;
      position: relative;
       &:nth-child(2){
        width: 55px;
       margin: 0 68px 0 0;
      }
      &:nth-child(4){
        margin: 0 34px 0 0;
      }
      &:nth-child(6){
        margin: 0 0 0 34px;
      }
      &:nth-child(8){
        margin: 0 0 0 68px;
      }
      &:hover{
        color: #62B58F;
      }
      }
      &__tabs-nav-item::after{
        border-bottom: 4px solid #62B58F;
        content: "";
        display: block;
        margin: 0.65em auto 0;
        transition: width 250ms ease-in-out 0s;
        width: 0;
        }
        &__tabs-nav-item:hover::after{
        transition: width 0.2s ease-in-out 0s;
        width: 100%;
        }
      &__tabs-line{
        position: absolute;
        top: 295px;
        left: 130px;
        height: 1px;
        width: 800px;
        background-color: $firstColor;
        opacity: 0.15;
      }
    &__tabs-nav-active{
      position: absolute;
      top: -2px;
      right: -7px;
      width: 6px;
      height: 6px;
      background-color: #62B58F;
      border-radius: 50%;
    }
    &__tabs-nav-item-input{
      display: none;
    }
    &__tabs-nav-item-input:checked + &__tabs-nav-item{
      font-weight: 700;
      border-bottom: 4px solid $firstColor;
    }
		&__block {
      width: 100%;
      height: 100%;
      display: none;
      margin-top: 50px;
		}
    &__block-image{
      position: relative;
    }
    &__block-image-img{
      border-radius: 40px;
    }
    &__block-text {
      position: absolute;
      top: 30px;
      right: 32px;
      width: 68px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #62B58F;
      border-radius: 50px;
      font-weight: 500;
      line-height: 150%;
      z-index: 1;
      filter: drop-shadow(0px 6px 12px rgba(38, 38, 38, 0.24)) drop-shadow(0px 12px 24px rgba(38, 38, 38, 0.2));
    }
		&__slider {
      display: flex;
      justify-content: center;
      align-items: center;
		}
    &__slider-image-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 40px;
    }
		}
  #live:checked ~ #content-1,
  #live-1:checked ~ #content-2,
  #live-2:checked ~ #content-3,
  #live-3:checked ~ #content-4 {
    display: flex;
    justify-content: center;
  }

 .swiper-button-next, 
 .swiper-button-prev{
  color: $firstColor;
 }
 .swiper-button-next{
  right: 100px;
 }
 .swiper-button-prev{
  left: 100px;
 }
 .swiper-pagination-bullet{
  background-color: $firstColor;
 }

      
/************************gallery style end************************/

/************************customers style start************************/
.customers {
  position: relative;
  z-index: 1;
  min-height: 340px;
  padding-top: 250px;
  padding-bottom: 250px;
  position: relative;
  &__blob{
    position: absolute;
    bottom: -100px;
    left: -590px;
    z-index: -1;
  }
  &__inner {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 0 24px;
    z-index: -1;
  }

  &__titles {
    max-width: 384px;
    display: flex;
    flex-direction: column;
  }

  &__titles-pre {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
  }

  &__titles-pre-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #5D62B5;
  }

  &__titles-title {
    margin-bottom: 78px;
    font-weight: 900;
    font-size: 36px;
    line-height: 117%;
    color: #000000;
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(2, 324px);
    grid-template-rows: repeat(1, 340px);
    gap: 0 24px;
  }
  &__card{
    background-color: $firstColor;
    border-radius: 20px;
    padding: 50px 44px 40px 43px;
  }
  &__card-review{
    margin-bottom: 30px;
  }
  &__card-review-text{
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: $secondColor;
  }
  &__card-person{
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 0 17px;
  }
  &__card-person-name{
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: $thirdColor;
  }

}


/************************customers style end************************/

/************************impact style start************************/
.impact {
  min-height: 608px;
  background-color: #29C3BE;
  position: relative;

  &__img{
    display: flex;
    justify-content: end;
  }
  &__dog {
    position: absolute;
    top: -80px;
    left: auto;
    z-index: 1;
  }
  
  &__dog-img {
    border-radius: 40px;
  }
  &__blob{
   position: absolute;
   top: 0;
   left: auto;
   margin: 0 -100px 0 0;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    padding: 112px 0 79px 0;
    margin: 0 0 0 30px;
  }

  &__titles-pre {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
  }

  &__titles-pre-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: $firstColor;
  }

  &__titles-title {
    max-width: 411px;
    font-weight: 900;
    font-size: 36px;
    line-height: 117%;
    color: $firstColor;
  }

  &__numbers {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 0 24px;
  }

  &__number {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    justify-content: center;
    gap: 0 11px;
  }

  &__number-content{
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 3px 0;
    margin-top: 5px;
  }
  &__number-count {
    font-weight: 900;
    font-size: 36px;
    line-height: 117%;
    color: $firstColor;
  }

  &__number-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #5D62B5;
  }

  &__appointment {
    position: absolute;
    bottom: -275px;
    right: auto;
    display: block;
    max-width: 1020px;
    min-height: 150px;
    border-radius: 20px;
    background-color: #5D62B5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 102px;
    padding: 0 70px;
    
  }
  &__appointment-content{
    max-width: 562px;
  }
  &__appointment-content-text {
    font-weight: 900;
    font-size: 24px;
    line-height: 125%;
    color: $firstColor;
  }

}
/************************impact style end************************/


/************************footer style start************************/
.footer {
  min-height: 450px;
  padding-top: 170px;
  &__inner{
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
  }
  &__start {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 25px 0;
    width: 100%;
    height: 100%;
  }

  &__start-content {
    max-width: 235px;
  }

  &__start-content-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.15px;
    color: $secondColor;
  }

  &__start-social {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0 18px;
  }

  
  &__start-social-item-link {
    fill: $thirdColor;
    display: inline-block;
    &:hover{
      transition: all 0.4s ease 0s;
      fill:#5D62B5;
      
    }
      &:focus,
      &:active{
        fill:#f34644;
      }

  }
  &__start-social-item-link-icon{
      position: relative;
      transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      &:hover{
        transform: translateY(0);
        transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-transform: translateY(0px);
        -webkit-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -o-transform: translateY(0);
        -o-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        -moz-transform: translateY(0);
        -moz-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
      }
      
    }
  &__start-social-item-link::after{
    border-bottom: 3px solid #5D62B5;
    content: "";
    display: block;
    margin: 0.1em auto 0;
    transition: width 250ms ease-in-out 0s;
    width: 0;


    }
    &__start-social-item-link:hover::after{
    transition: width 0.2s ease-in-out 0s;
    width: 100%;
    }

  &__nav {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 28px 0;
  }

  &__nav-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.15px;
    color: $secondColor;
  }
  &__nav-lists{
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 0 37px;
  }
  &__nav-one,
  &__nav-two {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 11px 0;
  }
  &__nav-one{
    justify-content: start;
  }
  &__nav-two{
    justify-content: center;
  }
  
  &__nav-one-item-link,
  &__nav-two-item-link {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.15px;
    color: $secondColor;
    text-decoration: none;
    
    &:focus{
      border: 3px solid #5D62B5;
      border-radius: 5px;
      background-color: #5D62B5;
      color: $firstColor;
    }
    &:active{
      border: 3px solid $thirdColor;
      color: $firstColor;
      background-color: $thirdColor;
    }
}
&__nav-one-item-link::after{
    border-bottom: 3px solid $secondColor;
    content: "";
    display: block;
    margin: 0.1em auto 0;
    transition: width 250ms ease-in-out 0s;
    width: 0;
    }
&__nav-one-item-link:hover::after{
    transition: width 0.2s ease-in-out 0s;
    width: 100%;
    }
   &__nav-two-item-link::after{
    border-bottom: 3px solid $secondColor;
    content: "";
    display: block;
    margin: 0.1em auto 0;
    transition: width 250ms ease-in-out 0s;
    width: 0;
    
    }

    &__nav-two-item-link:hover::after{
    transition: width 0.2s ease-in-out 0s;
    width: 100%;
    }
  

  &__contact {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    justify-content: end;
    gap: 28px 0;
  }
  &__contact-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.15px;
    color: $secondColor;
  }

  &__contact-list {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 16px 0;
  }
  
  &__contact-list-item {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0 15px;
    }
  &__contact-list-item-link,
  &__contact-list-item-content{
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.15px;
    color: $secondColor;
    text-decoration: none;
    }
    &__contact-list-item-link::after{
      border-bottom: 1px solid $thirdColor;
      content: "";
      display: block;
      margin: 0.1em auto 0;
      transition: width 250ms ease-in-out 0s;
      width: 0;
      }
      &__contact-tel:hover::after{
      transition: width 0.4s ease-in-out 0s;
      width: 97%;
      }
      &__contact-mail:hover::after{
      transition: width 0.4s ease-in-out 0s;
      width: 100%;
      }
      &__contact-list-item-link:hover{
        transition: color 0.4s ease 0s;
        color: $thirdColor;
      }
  &__contact-list-item-link-info {
    margin: 0 0 0 15px;
  }
&__bottom{
  margin: 100px 0 0 0;
  min-height: 60px;
  background-color: #5D62B5;
}
  &__bottom-inner{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;


  }

  &__bottom-content-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: $firstColor;
  }
  &__bottom-legal{
    display: flex;
    gap: 0 5px;
  }
  &__bottom-legal-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: $firstColor;
  }

  &__bottom-legal-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: $firstColor;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    &:hover{
      text-decoration: underline;
      color: $thirdColor;
    }
  }
}
/************************footer style end************************/
@import "media.scss";

